<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yufan.dao.BookMapper">
  <resultMap id="BaseResultMap" type="com.yufan.entity.Book">
    <id column="b_id" jdbcType="INTEGER" property="bId" />
    <result column="b_name" jdbcType="VARCHAR" property="bName" />
  </resultMap>
  <sql id="Base_Column_List">
    b_id, b_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where b_id = #{bId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where b_id = #{bId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yufan.entity.Book">
    insert into book (b_id, b_name)
    values (#{bId,jdbcType=INTEGER}, #{bName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yufan.entity.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bId != null">
        b_id,
      </if>
      <if test="bName != null">
        b_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bId != null">
        #{bId,jdbcType=INTEGER},
      </if>
      <if test="bName != null">
        #{bName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yufan.entity.Book">
    update book
    <set>
      <if test="bName != null">
        b_name = #{bName,jdbcType=VARCHAR},
      </if>
    </set>
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yufan.entity.Book">
    update book
    set b_name = #{bName,jdbcType=VARCHAR}
    where b_id = #{bId,jdbcType=INTEGER}
  </update>
</mapper>